<form class="form">
  <div class="form-row">
    <label for="version_version">Version</label>
    {{input type="text" id="version_version" value=version.version}}
  </div>

  <div class="form-row">
    <label for="version_slug">Slug</label>
    {{input type="text" id="version_slug" value=version.slug}}
  </div>

  <div class="form-row">
    <label for="version_status">Status</label>
    <select id="version_status">
      <option>unknown</option>
      <option>beta</option>
      <option>current</option>
      <option>future</option>
      <option>retired-beta</option>
      <option>retired</option>
    </select>
  </div>

  <div class="form-row">
    <div class="form-col">
      <label for="version_release_day">Release Day</label>
      {{input type="text" id="version_release_day" value=version.release_day}}
    </div>
    <div class="form-col">
      <label for="version_retirement_day">Retirement Day</label>
      {{input type="text" id="version_retirement_day" value=version.retirement_day}}
    </div>
  </div>

  <div class="form-row">
    <label for="version_note">Note</label>
    {{input type="text" id="version_note" value=version.note.en}}
  </div>

  <div class="form-row">
    <label for="version_release_notes_uri">Notes URI</label>
    {{input type="text" id="version_release_notes_uri" value=version.release_notes_uri}}
  </div>

  <div class="form-actions">
    <button {{action "saveBrowser"}}>Save</button>
  </div>
</form>