<div class="version version-{{version.status}}">
  <strong>
    {{#if version.version}}
      {{version.version}} <!-- id: {{version.id}}) -->
    {{else}}
      <em>{{version.status}}</em>
    {{/if}}
  </strong>

  <dl class="list-short">
    <dt>Status</dt>
    <dd>
      {{version.status}}
    </dd>
    <dt>Dates</dt>
    <dd>
      {{#if version.release_day}}
        {{moment-format version.release_day}}
      {{else}}
        ?
      {{/if}}
       -
      {{#if version.retirement_day}}
        {{moment-format version.retirement_day}}
      {{else}}
        ?
      {{/if}}
    </dd>
    <dt>Note</dt>
    <dd>{{version.note.en}}</dd>

    {{#if version.release_notes_uri}}
      <dt><a href="{{version.release_notes_uri}}">Release Notes</a></dt>
    {{else}}
      <dt>No further information</dt>
    {{/if}}
  </dl>

</div>